*{
    margin: 0em;
    padding: 0em;
}

.header{
    min-height: 12.5rem;
    border: 1px solid black;
}
.dropbtn{
    padding: 0.875rem;
    border: 1px solid black;
    background-color: white;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 0.875rem;
    border: 1x solid black;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;
}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
}
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;
}
.main{
    max-width: 80vw;
    margin: auto;
    border:  1px solid black;
}
.main__header_formatting{
    padding: 0rem 1rem;
}
.main__p_formatting{
    padding: 0rem 2rem 0.5rem;
    margin: 2rem 0rem;
    text-align: justify;
}
.main__title{
    max-width: 36rem;
    margin: auto;
}
.main__subtitle{
    max-width: 30rem;
    margin: auto;
}