*{
    margin: 0em;
    padding: 0em;
}

.header{
    min-height: 12.5rem;
    border: 1px solid black;
}
.main{
    max-width: 80vw;
    margin: auto;
    border:  1px solid black;
}
.main__header_formatting{
    padding: 0rem 1rem;
}
.main__p_formatting{
    padding: 0rem 2rem 0.5rem;
    margin: 2rem 0rem;
    text-align: justify;
}
.main__title{
    max-width: 36rem;
    margin: auto;
}
.main__subtitle{
    max-width: 30rem;
    margin: auto;
}