*{
    margin: 0em;
    padding: 0em;
}

.main{
    max-width: 80vw;
    margin: auto;
}
.main__p_formatting{
    padding: 0rem 2rem;
    text-align: justify;
}
.main__title{
    max-width: 36rem;
    margin: auto;
}
.main__subtitle{
    max-width: 30rem;
    margin: auto;
}